<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerfiles">
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>
    <body>
        <div th:fragment="formField (field, value, size)">
            <div>
                <label th:for="${#strings.toLowerCase(field)}"> <span
                        th:text="${field}">Field</span>
                </label>
            </div>
            <div>
                <input type="text" th:id="${#strings.toLowerCase(field)}"
                       th:name="${#strings.toLowerCase(field)}" th:value="${value}"
                       th:size="${size}">
            </div>
        </div>
    </body>
</html>