<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/fragment.html :: headFragment (pageTitle='dashboard')"></div>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-bg-light card_header" style="height: 67.5px!important">
                <div class="card-body">
                    <div>
                        <div class="" style="display: flex;">
                            <img th:src="@{/img/store.png}" src="/static/img/webStore.png" class="logo">
                            <div style="margin-top:-4px;">
                                <h5 class="card-subtitle">Product Catalog</h5>
                                <h5 class="card-subtitle">Admin Portal</h5>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary btn-sm float-right" style="margin-top: -35px;">Change Owner</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 g-6">
        <div class="col-lg-8 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mt-2">Design Your Store</h5>
                    <div class="row gy-6">
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Orders', body='Build, brand, and customize your webStore.', icon='interaction.png', url='')">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Users', body='Create, manage, and reuse content in your webStore.', icon='content.png', url='')">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Stores', body='Build, brand, and customize your webStore.', icon='store.png', url=${uriMap.WebStore_LIST_URI})">
                        </div>

                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Catalogs', body='Build, brand, and customize your webStore.', icon='product.png', url=${uriMap.Catalog_LIST_URI})">
                        </div>
                    </div>

                    <h5 class="card-title mt-4">Manage Your Store</h5>
                    <div class="row g-6">
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Categories', body='Manage your webStores categories', icon='category.png', url=${uriMap.CATEGORY_LIST_URI})">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Search', body='Set up filters and searchable fields', icon='magnifying-glass.png', url='')">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Administration', body='Manage webStore settings and configurations.', icon='settings.png', url='')">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Import', body='Manage and import data for your webStore.', icon='import.png', url='')">
                        </div>
                    </div>



                    <h5 class="card-title mt-4">Go to Workspace</h5>
                    <div class="row gy-6">
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Products', body='Manage and create products.', icon='product.png', url=${uriMap.PRODUCT_LIST_URI})">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Pricing', body='Manage and create price books.', icon='price-list.png', url=${uriMap.PRICING_LIST_URI})">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Promotions',body='Manage and create promotions.', icon='promotions.png', url=${uriMap.PROMOTION_LIST_URI})">
                        </div>
                        <div th:replace="fragments/component.html
                        :: Card2Column(title='Customers', body='Manage and create customers.', icon='people.png', url='')">
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart-line"></div>
                </div>
            </div>
        </div>



    </div>
</div>
</body>
</html>